.env 
.venv
.pytest_cache
.benchmarks
**/*__pycache__

# for any eventuality 
*.mp3
*.mp4
*.exe

# just a visualizing file
db/schema.json

# claude small syntax guide to refresh my memory
python-for-cpp-devs.md

# ignore temporary test/sample files
temp_*

# yt-dlp documentation summary
dev/yt-dlp-audio-guide.md
dev/audio_installer_explained.md